/* CSS */
/* Generals css */
html {
  scroll-behavior: smooth;
}

body {
  color: rgb(231, 230, 230);
  background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='18' height='18' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(50)'%3E%3Crect width='100%25' height='100%25' fill='rgba(12, 10, 28,1)'/%3E%3Ccircle cx='40' cy='20' r='0.25' fill='%231a202c'/%3E%3Ccircle cx='0' cy='20' r='1.5' fill='%23ecc94b'/%3E%3Ccircle cx='40' cy='20' r='1.5' fill='%23ecc94b'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E "); 
  background-color: #0c0a1c;
  font-family: 'Lato', sans-serif;
}

/* ligne de couleur */
.line {
  background: rgb(209, 211, 211);
  height: 10vh;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.line1 {
  background: rgb(231, 8, 8);
  height: 10vh;
  clip-path: polygon(100% 100%, 0 0, 0 100%);
}


/* Btn-to-top */
.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

/* Header */

header {
  height: 100vh;
  background-image: url(../img/ballerine-01.webp);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

/* Navigation */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  padding: 0 2rem;
}

nav:first-child {
  color:rgb(171, 30, 53);
}


nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

/* Menu */
.toggle {
  display: block;
  font-size: 1.5rem;
  padding: 1.5rem;
  cursor: pointer;
  position: relative;
  z-index: 20;
  color:#fff;
  background: #E0C214;
}

.ouvrir {
  display: block;
}

.fermer {
  display: none;
}

.open .ouvrir {
  display: none;
}

.open .fermer {
  display: block;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-color:#000 ;
  flex-direction: column;
  justify-content: space-around;
  transform: translateX(-100%);
  transition: transform 1s;
  
}

.open .menu {
  transform: translateX(0);
}

/* Slider */

.slider {
  display: flex;
  height: 75vh;
  flex-direction: column;
  justify-content: center;
}

.slider h2{
  font-size: 8rem;
  font-family: 'Qwitcher Grypen',cursive;
  color: #E0C214;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 1.5rem rgb(234, 232, 172);
  
}

.slider h2::after {
  display: none;
}


/* Sections */

section {
	padding: 1.2rem;
}

section p{
  line-height: 2rem;
}

section h2 {
  font-size: 8rem;
  font-family: 'Qwitcher Grypen',cursive;
  color: #E0C214;
  text-align: center;
  padding: 0.5rem;
  text-shadow: 2px 2px 1.5rem rgb(234, 232, 172);
}

section h2::after {
  background-color: #e0c7c5;
  content: " ";
  display: block;
  margin: 5px auto 0;
  height: 4px;
  width: 80px;
  padding: 0 2rem;
}

section h3 {
  font-size: 1.6rem;
  padding: 2rem;
  color: rgb(171, 30, 53);
  text-transform: capitalize;
}

section h5 {
  color: pink;
}

section blockquote {
  padding: 0.5rem;
}

section img:hover {
  filter: none;
}

section img{
  filter: sepia(70%);
}


/* Skills */

.skill-container .skill {
  width: 50%;
  background: #333;
  margin: 60px auto;
  color: #fff;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skill-container .skill li {
  margin: 20px 0;
  padding: 10px;
}

.bar {
  background: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3 cubic-bezier(.25, .8, .25, 1);
}

.bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(152, 103, 103, 1)100%);
}

.dance-classic {
  width: 90%;
  animation: dance-classic 3s;
}

.hip-hop {
  width: 80%;
  animation: hip-hop 3s;
}

.pole-dance {
  width: 70%;
  animation: pole-dance 3s;
}

@keyframes dance-classic {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes hip-hop {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes pole-dance {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

/* Experience */

.experience-container {
  text-align: center;
}

.experience-container img {
  width: 60%;
}

.experience-container h3 {
  padding: 1rem 2.2rem;
  text-align: left;
  font-size: 3rem;
  font-family: 'Qwitcher Grypen',cursive;
}

.experience-container p {
  padding: 0.8rem 2.2rem;
  line-height: 1.5rem;
  text-align: justify;
}

.experience-container div {
  margin: 60px auto;
}

/* Portfolio */

.portfolio-container {
  margin: 0 0.65rem;
}

.portfolio-container img {
  max-width: 100%;
  height: auto;
}

.gallery-item {
  height: auto;
  margin: 0.5rem;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Testimonials */

.testimonial h2{
  font-size: 6rem;
}

.container-testimonial {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.container-testimonial .card {
  width: 330px;
  padding: 15px;
  background: #ffff;
  text-align: center;
  margin: 0 15px 15px 0;
  border-radius: 10px;

}

.container-testimonial .card i {
  font-size: 25px;
  color: #E0C214;
}

.container-testimonial .card p {
  margin: 15px 0;
  color: rgb(105, 105, 105);
}

.container-testimonial .card img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #25c1ff;
}

/* Contact */

.contact-container {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.contact-info {
  padding: 30px 40px;
}

.contact-info:nth-child(1) {
  flex: 45%;
  background: url(../img/ballerine-01.webp);
}

.contact-info:nth-child(2) {
  flex: 30%;
  background-color:rgb(171, 30, 53);
}

.contact-info:nth-child(3) {
  flex: 50%;
  padding: 0;
}

.contact-info h5 {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-info h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.contact-info h6 i {
  font-size: 2rem;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: #f5f5f5;
  color: #000;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;

}

.contact-info p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

.contact-info ul {
  text-align: center;
}

.contact-info ul li {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}

.contact-info ul li a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #fff;
  border-radius: 50px;
}

.contact-info ul li a i {
  font-size: 1rem;
  line-height: 30px;
  color: #000;

}

.contact-info form {
  width: 100%;
  height: auto;
}

.contact-info-input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  outline: none;
  padding-left: 5px;
  background: transparent;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}

.contact-info-input::placeholder {
  color: #fff;
}

.contact-info-textarea {
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  outline: none;
  padding-top: 5px;
  padding-left: 5px;
  background: transparent;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}

.contact-info-textarea::placeholder {
  color: #fff;
}

.contact-info-btn {
  width: 100%;
  height: 60px;
  border: 1px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
}

.contact-info iframe {
  width: 100%;
  height: 100%;

}

/* Footer */

footer {
  padding: 1rem 1rem 2rem 1rem;
  background-color: rgb(62, 57, 57);
  color: rgb(228, 228, 228);
  font-size: 0.rem;
  text-align: center;
}

footer div {
  padding: 1rem;
}

footer div:last-child{
  border-bottom: 1px solid rgb(117, 117, 117);
  font-size: 2rem;
  color:rgb(171, 30, 53);
}

footer div:last-child p{
  
  font-size: 1rem;
 
}

footer div:first-child {
  border-bottom: 1px solid rgb(117, 117, 117);
  color: #E0C214;
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 2.5rem;
  text-transform: uppercase;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer a {
  padding: 1rem;
  color: inherit;
  text-decoration: none;
}


/* Media : 768px */

@media screen and (min-width: 768px) {
  
/* Menu */
  .toggle{
    display: none;
    }
    
  .ouvrir {
    display: none;
    }
  .fermer {
    display: none;
    }

  .menu {
    background: none;
    flex-direction: row;
    transform: translateX(0);
    height: 0vh;
    padding-top: 1.5rem;

  } 

  /* Navigation */
  nav a{
    font-size: 1.2rem;
    border-bottom: solid rgba(210, 210, 210, 0.901);
  } 

  nav li:hover {
    background-color: rgba(224, 194, 20,0.8);
  }

  nav {
    height: 5%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  /* Slider */
  .slider p:first-child {
    font-size: 2.4rem;
  }

  .slider h2 {
    padding-left: 0.8rem;
    font-size: 8rem;

    line-height: 5rem;
  }

  .slider h2::first-letter{
    border-left: 4px solid #fffdfd;
  }

/* About */

  .about-container {
    display: flex;
    justify-content: space-between;
  }

  .about-container div {
    width: 50%;
  }

  .about-container div:first-child {
    padding: 2rem;
  }

/* Skills */

  .skill-container .skill {
    width: 100%;
  }

/* Experience */

  .experience-container {
    display: flex;
    flex-wrap: wrap;
  }

  .experience-container div {
    width: 50%;
  }

  .experience-container p {
    padding: 0.8rem 3.2rem;
  }

/* Piortfolio */

  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 300px);
    grid-auto-flow: row dense;
  }

  .gallery-item {
    margin: 0.7rem;
  }

  .gallery-item:first-child {
    grid-row: span 1;
  }

  .gallery-item:nth-child {
    grid-column: 2/3;
    grid-row: span 2;
  }

  .gallery-item:nth-child(6),
  .gallery-item:nth-child(8) {
    grid-row: span 2;
  }

  .container-testimonial .card {
    margin: 0 0 15px 0;
  }

/* Contact */

  .contact-info:nth-child(1) {
    flex: 50%;
  }

  .contact-info:nth-child(2) {
    flex: 50%;
  }

  .contact-info:nth-child(3) {
    flex: 100%;
  }

}


@media screen and (min-width: 992px) {

/* Menu */
  .menu {
  background: none;
  flex-direction: row;
  transform: translateX(0);
  height: 0vh;
  padding-top: 1.5rem;
  } 

/* Slider */

.slider h2{
  font-size: 10rem;
  font-weight: bold;
}

/* Section */
  section {
    margin: 0 10%;
  }
/* Experience */
  .experience-container div {
    width: 25%;
  }

  .experience-container h3 {
    padding: 1rem 1.5rem; 
    font-weight: bold;
    font-size: 2.5rem;
  }

  .experience-container p {
    padding: 0.8rem 2rem;
  }

  /* Portfolio */
  .portfolio-container {
    grid-template-columns: repeat(3, 1fr);
    }

  .gallery-item:first-child,
  .gallery-item:nth-child(7),
  .gallery-item:nth-child(8) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .gallery-item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
  }

  /* Contact */
  .contact-container {
    width: 100%;
  }

  .contact-info:nth-child(1) {
    flex: 15%;
  }

  .contact-info:nth-child(2) {
    flex: 45%;
  }

  .contact-info:nth-child(3) {
    flex: 30%;
  }

  /* Footer */

  footer {
    display: flex;
    justify-content: space-between;
    text-align-last: left;
  }

  footer div:last-child {
    border: none;
    font-size: 1.5rem;
  }

}